################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/first-calc/.vs/first-calc
/first-calc/x64/Debug
